@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

html,body{
    width: 100%;
    height: 100%;
    font-style: normal;
    font-weight: normal;
    font-family: 'Poppins', sans-serif; 
}

.backdrop{
    backdrop-filter: blur(150px);
}

.backdrop-firefox{
    background: linear-gradient(277.55deg, #256FFF -399.16%, #FFFFFF 102.32%);
    position: relative;
}

.progress{
    animation: progress 2s cubic-bezier(0.65, 0, 0.35, 1);
    height:2.5px;
}

@keyframes progress {
    from {width: 0px;}
    to {width: 100%;}
}